
.syntax-highlighting-preprocessor {
	font-weight: bold;
	color: #4e9a06;
}

.syntax-highlighting-comment {
	font-style: italic;
	color: #268bd2;
}

.syntax-highlighting-constant {
	color: #cb4b16;
}

.syntax-highlighting-keyword {
	font-weight: bold;
}

.syntax-highlighting-reference {
	border-bottom: 1px dashed #ccc;
	cursor: pointer;
}

.syntax-highlighting-reference:hover {
	border-bottom: 1px dashed black;
}

.syntax-highlighting-error {
	font-weight: bold;
	background-color: red;
}